.App {
  text-align: center;
  font-family:Georgia, Times, 'Times New Roman', serif;
  transition-timing-function: ease;
}

.nav {
  display: flex;
  text-align: center;
  color: white;
  background-color: rgba(173, 171, 170, 0.806);
  font-size: 30px;
  justify-content: space-around;
  padding: 40px;
  box-shadow: 2px 1px 8px rgb(160, 153, 153);
}

.nav-choice{
color: white;
font-size: 30px;
text-decoration: none;
}

.nav-choice:hover {
  color:rgb(14, 13, 11)
}

a {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: rgb(103, 99, 99);
}

.link:hover{
  color: rgb(14, 13, 11);
  border: 3px rgb(255, 255, 255) solid;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
}

.cat-fact {
  background-color: rgb(245, 235, 222);
  color: rgb(54, 41, 41);
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  font-size: 25px;
}

img {
  border-radius: 50px;
  padding: 20px;
}

.home {
  background-color: rgb(245, 235, 222);
  color: rgb(54, 41, 41);
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}




ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 10px;
  line-height: 50px;
  background-color: rgba(205, 145, 72, 0.15);
  border-radius: 10%;

}

.adopt-title {
  padding: 10px;
  margin: 10px;
  background-color: bisque;
  color: rgb(54, 41, 41);
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}

.link {
  font-size: 20px;
}
